# Python basics
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# PDF Storage (Keep the folder, ignore the files)
storage/pdfs/*
!storage/pdfs/.gitkeep

# VS Code / IDE
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db